.myBtn {
  background-color: blue;
}

.myBtn2 {
  background-color: aquamarine;
}

.myDiv {
  background-color: burlywood;
}
.myDiv button {
  background-color: chocolate;
}
.myDiv button:hover {
  background-color: azure;
}

.myPara {
  background-color: green;
  color: white;
}
